### 1 . What is MongoDB ? non-relational database ? and When to use MongoDb over SQL data base

##### MongoDB :
- It is a open-source document based databse that is designed to store large of data and also allows you to work with data efficiently. it is categorized under NoSQL (not only SQL) database because the storage retrival on MongoDB database are not in the form of table.

##### Non-relational database :
- A non-relational database stores data in non-tabular form. and tends to be more flexble than the traditional SQL based relational databases.

##### When to use MongoDB over SQL
1. When you meed high availability of data with automatic, fast and instant data recovery.
2. if you're growing big in future because mongoDB has inbuilt sharding solution.
3. you have unstable schema and you want to reduce schema migration cost
4. if you dont have database administrator (DBA). need to hire if youre going big
5. if  most of the services are cloud based then mongoDB is best solution for you.

### 2 . State and Explain Features of MongoDB

##### 1. Supports adhoc queries :
- in MongoDB, you can search by field,range query and it also supports regular expression searches.

##### 2. Indexing 
- you can index any field in a document.

##### 3. Replication
- MongoDB master slave replication, A master can perform read and writes, a slave can copy those data from master and can only be used for reads not writes.

##### 4. Duplication of Data
- MongoDB can run over multiple servers. the Data is duplicated to keep the systems up and running in case of a system failure.

##### 5. Load balancing
- it has an automatic load balancing configuration because of data placed in shards

##### 6. Uses map, reduce and aggregation tools
##### 7. Stores files of any size easily without complicating your stack
##### 8. Uses JavaScript instead of Procedures 
##### 9. It is a schema-less database written in c++.

### 3 . Write code to connect, create database, Collecton in MongoDB in python.

Connecting to MongoDB :

In [1]:
## connecting to MongoDB 
## importing pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

## url request from mongodb 
## here we have to provide username and password 
uri = "mongodb+srv://pwskills:pwskills@cluster0.fk3f9fg.mongodb.net/?retryWrites=true&w=majority"

## creating a client and connecting to the server
client = MongoClient( uri, server_api=ServerApi('1'))

## sending a ping to see successful connection
try:
    client.admin.command("ping")
    print("You are Succesfully connected to MongoDB!")
except Exception as e:
    print(e)

You are Succesfully connected to MongoDB!

Creating Databse :

In [2]:
## Creating a database
mydb = client["MyDatabase"] ## created new database

Creating Collection :

In [3]:
## creating new collection inside MyDatabase
collection = mydb["MYCollection"]

### 4 . Using above Database show insert_one, insert_many, find(), find_one()

##### insert_one () method

In [8]:
## Example to show insert method
## creating example data
data = { "name" : "Vadla Madhusudhan",
        "Age" : 25,
        "Course" : "Data Science Masters 2.0"
}

## adding data into MongoDB using insert
collection.insert_one(data)

##### insert_many () method

In [19]:
## example to show insert_many
## creating example data
data1 = [{"ID" : 10, "name":"Madhusudhan"},
         {"ID" : 20, "name":"Sudhanshu"},
         {"ID" : 30, "name":"Krishnaik"}
]

## adding data1 intp MongoDb using insert_many
collection.insert_many(data1)

##### find_one()

In [11]:
## Example to show find_one
collection.find_one()

{'_id': ObjectId('64a7fb2b5b61a3186976d7bb'),
 'name': 'Vadla Madhusudhan',
 'Age': 25,
 'Course': 'Data Science Masters 2.0'}

##### find()

In [12]:
## example to show find
## we need to iterate this to get all results
for i in collection.find():
    print(i)

{'_id': ObjectId('64a7fb2b5b61a3186976d7bb'), 'name': 'Vadla Madhusudhan', 'Age': 25, 'Course': 'Data Science Masters 2.0'}
{'_id': ObjectId('64a7fc055b61a3186976d7bc'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a7fc055b61a3186976d7bd'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a7fc055b61a3186976d7be'), 'ID': 30, 'name': 'Krishnaik'}

### 5 . Explain find () in MongoDB with an example

##### find () :
- find method is used to select data from database, it returns all the occurances of information stored in collection. it return the data that matched the search criteria . when it returns it is actually returning cursor to the documents.

Example to demonstrate find () method

In [4]:
## calling find method on database created in question 3
## iterating and printing from database using find method
for i in collection.find():
    print(i)

{'_id': ObjectId('64a7fb2b5b61a3186976d7bb'), 'name': 'Vadla Madhusudhan', 'Age': 25, 'Course': 'Data Science Masters 2.0'}
{'_id': ObjectId('64a7fc055b61a3186976d7bc'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a7fc055b61a3186976d7bd'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a7fc055b61a3186976d7be'), 'ID': 30, 'name': 'Krishnaik'}

### 6 . Explain sort () method with an example

##### sort () :
-  the sort () method specifies the order in which the query returns the matching documents from the given collection. it takes a document as a parameter that contains key :value pairs that defines the sort order of a result set.

Example to demonstrate sort method

In [30]:
## data before sorting 
for i in collection.find():
    print(i)

{'_id': ObjectId('64a7fb2b5b61a3186976d7bb'), 'name': 'Vadla Madhusudhan', 'Age': 25, 'Course': 'Data Science Masters 2.0'}
{'_id': ObjectId('64a7fc055b61a3186976d7bc'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a7fc055b61a3186976d7bd'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a7fc055b61a3186976d7be'), 'ID': 30, 'name': 'Krishnaik'}
{'_id': ObjectId('64a80f902f9bf3bc7d2f2cba'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a80f902f9bf3bc7d2f2cbb'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a80f902f9bf3bc7d2f2cbc'), 'ID': 30, 'name': 'Krishnaik'}
{'_id': ObjectId('64a810fc2f9bf3bc7d2f2cbd'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a810fc2f9bf3bc7d2f2cbe'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a810fc2f9bf3bc7d2f2cbf'), 'ID': 30, 'name': 'Krishnaik'}
{'_id': ObjectId('64a811c02f9bf3bc7d2f2cc0'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a811c02f9bf3bc7d2f2cc1'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a811c02f9bf3bc7d2f2cc2'), 'ID': 30, 'name': 'Krishnaik'}

In [29]:
## applying sort method to database 
for i in collection.find().sort("ID"):
    print(i)

{'_id': ObjectId('64a7fb2b5b61a3186976d7bb'), 'name': 'Vadla Madhusudhan', 'Age': 25, 'Course': 'Data Science Masters 2.0'}
{'_id': ObjectId('64a7fc055b61a3186976d7bc'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a80f902f9bf3bc7d2f2cba'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a810fc2f9bf3bc7d2f2cbd'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a811c02f9bf3bc7d2f2cc0'), 'ID': 10, 'name': 'Madhusudhan'}
{'_id': ObjectId('64a7fc055b61a3186976d7bd'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a80f902f9bf3bc7d2f2cbb'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a810fc2f9bf3bc7d2f2cbe'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a811c02f9bf3bc7d2f2cc1'), 'ID': 20, 'name': 'Sudhanshu'}
{'_id': ObjectId('64a7fc055b61a3186976d7be'), 'ID': 30, 'name': 'Krishnaik'}
{'_id': ObjectId('64a80f902f9bf3bc7d2f2cbc'), 'ID': 30, 'name': 'Krishnaik'}
{'_id': ObjectId('64a810fc2f9bf3bc7d2f2cbf'), 'ID': 30, 'name': 'Krishnaik'}
{'_id': ObjectId('64a811c02f9bf3bc7d2f2cc2'), 'ID': 30, 'name': 'Krishnaik'}

### 7 . Explain delete_one(), delete_many(), drop()

##### delete_one () :

- it is used to delete any one record from the collecion in MongoDB database, if there are multiple records only the first one is deleted. 

##### delete_many () :

- it is used to delete many records from documents collection in MongoDB database with isingle command

##### drop () :

- using this method will clear everything inside a collection permanently.