### 1 . What is Database and difference between SQL and NoSQL

Database :
- A databased is organized collection of structured information or data typically stored in a computer system. A database is usually controlled by database management system (DBMS)

Differences between SQL and NoSQL :

|     SQL            |        NoSQL                            |
|--------------------|-----------------------------------------|
|1. SQL means "Structured Query Language" | 1. NoSQL means "Not only SQL" |
|2. SQL databases are primarirly "Relational Databases" | 2. NoSQL databases are usually non-relational or distributed databases |
|3. SQL data are table based. | 3. Where as NoSQL are document, graph, key-value pairs based. |
|4. SQL have fixed or static schema | 4. NoSQL has dynamic schema |
|5. Suitable for complex quries | 5. Not suitable for complex queries |
|6. These are not suited for hierarchical storage | 6. Best suited for hierarchical storage |

###  2 . What is DDL and Explain CREATE, DROP, ALTER, TRUNCATE with example

DDL (Data Definition Language ) : 

- In contect of SQL, Data definition or Data Description Language is a syntax for creating, modyfying database objects such as tables,indices. DDL statements are similar to computer programming language.

##### CREATE : 

- it is used to create new databases in DBMS and also used to create new tables inside the database,

Example to be written in SQL
database

1. CREATE DATABASE test_db;

creating a table in sql

2. CREATE TABLE test_table (c1 VARCHAR(50),c2 FLOAT)

##### ALTER :

- it is used to add, delete, modify columns in an existing table.

Example to be written in SQL database

1. ALTER TABLE table_name                                                                     
   ADD column_name    data_type;

##### DROP 

- The Drop command in SQL is not only deletes a table but also database, column, index.....etc.

 Example to delete a table 
 
 1. DROP TABLE table_name;

##### TRUNCATE

- Truncate and drop are similar but the major difference is that truncate is used to delete the data inside the table while keep the structure of the table intact. it is mainly used to delete temporary tables.

Example to TRUNCATE 

1. TRUNCATE TABLE table_name;                      
   table_name : name of the table to be truncated                  
   DATABASE  name_student_data

### 3 . What is DML ? Explain INSERT, UPDATE and DELETE

DML ( Data Manipulation Language ) :

- Data manipulation language is computer programming language used for adding, deleting, modifying data in databases. it is a sublanguage of SQL

##### INSERT

- it is a data manipulation command used to insert information into tables.

Example to insert data

1. INSERT INTO table_name VALUES (v1,v2,v3,v4.....)

##### UPDATE
- the update statement in SQL is used to update the data of an existing table in databse. we can update single columns as well as multiple columns as per our requirements.

Example of update statement
 
1. UPDATE table_name                        
   SET column1 = value1, column2 = value2                
   WHERE condition ;

##### DELETE

- Delete command is part of data manipulation language that allows modification of data in databases, using this you can delete record based on condition or all records from a table

Example of delete statement

1. DELETE FROM table_name                                  
   WHERE condition ;

### 4 . What is DQL and explain SELECT with example

DQL ( Data Query Language ):
- it is a form of computer language that are used to make queries in information systems and databases. it is used to query data contained in schema objects

##### SELECT

- select command is used to fetch data in set of records from a table, simple query to retrive all records of table, can be performed using " * ".

Example to show SELECT statement 

1. SELECT *                                     
   FROM table_name;

### 5 . Explain Primary Key and Foreign Key

##### Primary Key

- it is a column or columns that contains values that uniquely identify each row in a table. it cannot contain a NULL value. each table can only have one primary key. primary key consists single or multiple columns.

##### Foreign Key

- A foreign key is a field or collection of fields that refers back to the primary key in "Another" table. the table with foreign key is called "child table" and table with primary key is called "referenced" or "Parent key"

### 6 . Write a python code to connect to MySQL. Explain cursor() and execute() methods

In [4]:
## writing code to connect to MySQL
## importing MySQL
import mysql.connector

## created database
mydb = mysql.connector.connect(
    host = "localhost" 
    user = "abc"  ## providing username and password
    password = "password"
)

##### cursor () method
- cursor is a temporary memory or temporary workstation. it is allocated by database servers at time of performing DML operations on table by user. cursors are used to store tables. there are 2 types of cursors.

1. implicit cursors
2. explicit cursors

In [ ]:
## example of cursor in mysql python
mycursor = mydb.cursor()

##### execute () method

- this method executes given database operations (query or command). you can use this command to create tables, modify records, delete records. you can pass SQL queries as string commands to execute.

In [ ]:
## example of execute in mysql python
mycursor.execute("this is my execute command")

### 7 . Order of Execution of clauses in SQL Query

- The Order of execution defines the order in which the clauses of query are evaluated. Understanding query order can help you optimize your queries

Order of Execution :

|  no.   |      Clause     |      Function        |
|-------|--------------------|--------------------|
|1| FROM | choose and join tables to get base data |
|2| WHERE | filters base data |
|3| SELECT | returns the final data |
|4| GROUP BY | Aggregates the base data | 
|5| HAVING | filters the aggregated data |
|6| ORDER BY | sorts the final data |
|7| LIMIT | limits the returned data to row count |