### 1 . Commenting code in python and its types

##### Comments in code are used to make the code more understandable and readable to the programmers and also explain/describes the funtionality of the code being written.

There are 2 types of comments available 
          
          1) Single line comment
          2) Multi Line comment

1.Single-Line comment:- This uses "#" before writing any sentence and can only be used for single line of text as follows

In [1]:
## This is an example of single line comment using "#"

2.Multi-Line comment:- this use '''...''' triple quotes and allows users to enter multiple lines of codes as shown below

In [ ]:
''' This is the example 
of using multi line
comment in python'''

### 2 . Variables in python and how to declare them

#### Variables are used to store desired data items and can be used to recall the same data at any part of the program using the variable name assigned to it.

variable contain a name and a value assigned to it. there are certain rules to be followed to declare a variable without any errors. 

1) varaible name must not start with a number
2) variable name cannot be a predefined funtion name
3) special characters are not allowed except '_'
4) varaible names must unique incase of multiple varaible declaration

In [3]:
## Declaration of a variable

name = "Madhan"
Course = "Data Science Masters 2.0"

## varibale can store different data types like int,float,string. 
## incase of a string " " or ' ' quotes are used.

### 3 . How to convert one data type to another

#### python uses two types of data conversions

1) Implicit Type conversion

In [13]:
## python automatically detects the data type
a = 5
b = 5.0

## printing out to check the data types
type(a),type(b)

(int, float)

2) Explicit Type Conversion

In [14]:
## declaring varibale with in data type
a1 = 50

## using type casting and declaring a new varaible
a2 = float(a1)

## printing out to check the data types
type(a1),type(a2)

(int, float)

### 4 . Write and Execute python from command line

- In Windows OS , First click on start and click on run.
- Type in 'CMD' and hit Enter on keyboard
- The command prompt will open,type python and hit enter to enter into python environment
- you might need to install latest python version depending on the version available

To run any python script:-
- Type in 'Python' in console and mention the '.py' file name present in your computer
- Hit Enter to execute the script

For example:

python example_script.py

out put :
 'hello world!'

### 5 . Slicing a list

In [21]:
## Given list 
my_list = [1,2,3,4,5]

## Slicing the list using slicing operation to get [2,3]
my_list[1:3]

[2, 3]

### 6 . Complex number in python

Complex numbers in math. complex numbers are the numbers that are expressed in the form of "a+ib"
where a,b are real numbers and 'i' is an imaginary number called "iota"

Complex numbers in PYTHON. The complex Data type in python consists of two values

- first one is real part of the complex number
- second part is imaginary part of the complex number

it is declared in python as follows

In [24]:
## declaring complex number
num = 3+9j

## printing out data type and value 
print(num, type(num))

(3+9j) <class 'complex'>

### 7 . Declaring Variable and assigning value to it

In [28]:
## Declaring a variable called "age"
## the '=' assignment operator used to assign value "25" to the variable "age"
age = 25

## printing the age varaible 
print(age)

25

### 8 . Declaring Variable and finding its data type

In [29]:
## Declaring variable called "price"
## the "=" assignment operator is used to assign value
price = 9.99

## finding out the data type of variable "price" using type funtion
type(price)

float

### 9 . Creating a variable with string value

In [31]:
## Declaring a variable named "name"
## assigning value to it using "=" operator
name = "Madhusudhan"

## printing out the value of variable "name"
print(name)

Madhusudhan

### 10 . Taking out substring of a string

In [37]:
## Declaring a variable with a string value
string = "Hello World!"

## using slicing operation to take a substring or "string" varibale
string[6:11]

'World'

### 11 . Creating varaible with boolean value

In [39]:
## Declaring a variable with boolean value
is_student = False

## printing out value if im a student or not 
print(is_student)

False