
## 1. Create one variable for each data type

In [1]:
# String
s = "My name is Madhusudhan"

In [3]:
# list
l = [20,3,1999]

In [6]:
# Float
f = 6.1432

In [5]:
# Tuple 
t = [20, 6.1, "Madhusudhan", 3+5j]

## 2. Finding Data type of given variable

In [1]:
# Given Variable 
var1 = ''

# Finding the Data type of var1
type(var1)

str

In [10]:
# Given Variable
var2 = '[DS, ML, Python]'

# Finding the Data Type of var2
type(var2)

str

In [12]:
# Given variable 
var3 = ['DS', 'ML', 'Python']

# Finding the Data Type of var3
type(var3)

list

In [13]:
# Given Variable 
var4 = 1

# Finding out DATA Type of var4
type(var4)

int

## 3. Explaining Use of Operators " / % // ** " using examples

In [18]:
# Creating variables a,b 
a = 10
b = 5

# "/" is used to perform mathematical Division operation
c = a/b
print(c)

# "%" is used to perform MODULOS operation 
d = a%b
print(d)

# "//" is called floor divion it Divides and returns the integer value of the quotient.
e = a//b
print(e)

# "**" is called exponentiation. it calculates power of the number
f = a**b
print(f)

2.0
0
2
100000

## 4. Creating data and printing its types using "for" loop

In [31]:
# Creating variable l with multiple data type elements
l = [10,20, "pwskills", "madhusudhan", 69.45, 55.12, 3+5j, 6+10j, True, False]

# Writing for loop to iterate the list and print its data type
for i in l:
    print(i)
    print(type(i))

10
<class 'int'>
20
<class 'int'>
pwskills
<class 'str'>
madhusudhan
<class 'str'>
69.45
<class 'float'>
55.12
<class 'float'>
(3+5j)
<class 'complex'>
(6+10j)
<class 'complex'>
True
<class 'bool'>
False
<class 'bool'>

## 5. Creating while loop to divide and find the count

In [5]:
# Declaring variabels with input function
A = int(input("Enter number A"))
B = int(input("Enter number B"))

# Declaring variable to hold the number of divisions
count=0

# Using "While" loop to loop and use divisoin as condition 
while A%B == 0:
    A = A/B
    count += 1
    
# Printing out the result along with number of times its divided
print("it can be divided", count,"time(s).")

Enter number A 50
Enter number B 5

it can be divided 2 time(s).

## 6. Using "for" and "if-else" to print element divided by 3 or not

In [13]:
# Create a list of 25 integers
l = [10,20,30,40,11,22,33,44,23,33,43,13,73,63,53,77,88,99,12,13,14,5,6,8,3]

# Looping through list using "for" loop
for num in l:
    # using If-Else condition to check divisible by 3
    if num%3 == 0:
        print({num},"element is divisible by 3")
    else:
        print({num},"element is not divisible by 3")

{10} element is not divisible by 3
{20} element is not divisible by 3
{30} element is divisible by 3
{40} element is not divisible by 3
{11} element is not divisible by 3
{22} element is not divisible by 3
{33} element is divisible by 3
{44} element is not divisible by 3
{23} element is not divisible by 3
{33} element is divisible by 3
{43} element is not divisible by 3
{13} element is not divisible by 3
{73} element is not divisible by 3
{63} element is divisible by 3
{53} element is not divisible by 3
{77} element is not divisible by 3
{88} element is not divisible by 3
{99} element is divisible by 3
{12} element is divisible by 3
{13} element is not divisible by 3
{14} element is not divisible by 3
{5} element is not divisible by 3
{6} element is divisible by 3
{8} element is not divisible by 3
{3} element is divisible by 3

## 7. Mutuable and Immutable Data Types with exampls

##### Mutable Objects 
#####                   Lists, Dictionaries, Sets are considered as mutable objects. It means the data elements inside these can be                changed, removed, modified. Mutable Objects are useful when we need to change the size of the contents of our objects

In [17]:
# Example to demonstrate Mutable Object
# creating a list 
my_list = [2,4,6,8,10,12,14]

# Using append on my_list
my_list.append(16)
# Printing out result
print("List after appending a value", my_list)

# using extend on my_list
my_list.extend([18,20,22])
# printing out the result
print("List after extending my_list", my_list)

# using remove on my_list
my_list.remove(8)
# printing out the result
print("List after removing a value", my_list)

List after appending a value [2, 4, 6, 8, 10, 12, 14, 16]
List after extending my_list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
List after removing a value [2, 4, 6, 10, 12, 14, 16, 18, 20, 22]

#### Immutable Objects 
#####                   Tuples,int,float,bool are known as immutable objects. An immutable object cannot be changed after its created.                   Immutable objects are best suitable when we are sure that they dont need to be changed at any point of time